@model CATSTracking.Library.Models.Login
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TrackPro - Login</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <link rel="stylesheet" href="~/css/password.css" />
</head>

<body>
    <div class="main-container">


        <div class="form-section">
            <div class="logo">
                <div class="logo-icon">
                    <i class="fas fa-location-arrow"></i>
                </div>
                <div class="logo-text">Track<span>IT</span></div>
            </div>

            <h1 class="form-title">Set account password</h1>

            <form asp-action="Password" method="post" asp-controller="Login">

                <input type="hidden" name="Username" value="@Model.Username">
                <input type="hidden" name="ResetToken" value="@Model.ResetToken">


                <div class="form-group">
                    <label asp-for="Password">Password</label>
                    <div class="input-container">
                        <input type="password" asp-for="Password" class="input-field" placeholder="Enter your password">
                        <i class="fas fa-lock input-icon"></i>
                    </div>
                </div>


                <div class="form-group">
                    <label>Confirm Password</label>
                    <div class="input-container">
                        <input type="password" class="input-field" placeholder="Confirm your password">
                        <i class="fas fa-lock input-icon"></i>
                    </div>
                </div>

                <button type="submit" class="btn">Set Password</button>
            </form>
        </div>
    </div>

    <div id="success-toast"></div>
    <div id="error-toast"></div>

    <script>

        // Show success toast
        function showSuccess(msg, redirectUrl) {
            const toast = document.getElementById('success-toast');
            toast.textContent = msg;
            toast.classList.add('show');
            toast.classList.remove('hide');
            setTimeout(() => {
                toast.classList.add('hide');
                setTimeout(() => { toast.classList.remove('show'); window.location.href = redirectUrl; }, 500);
            }, 3000);
        }

        // Show error toast
        function showError(msg) {
            const toast = document.getElementById('error-toast');
            toast.textContent = msg;
            toast.classList.add('show');
            toast.classList.remove('hide');
            setTimeout(() => {
                toast.classList.add('hide');
                setTimeout(() => { toast.classList.remove('show'); }, 500);
            }, 3000);
        }

    </script>
</body>

</html>